.menu_esquerdo{
	float: left; 
	width: auto; 
	height: 500px; 
	background: #FFF; 
	border: solid 1px #A2A2A2;
	margin-right: 5px;
}

.tabela_cronometro{
	width: 140px; 
	height: 132px;
}

.cenario{
	float: left;
	width: 600px;
	height: 500px;
	background: url('imagens/cenario.png');
	background-position: bottom;
}